<div class="pt-3">
    <div class="row no-gutters d-flex justify-content-center align-items-center pb-2">
      <div class="col-9">
        <input class="form-control borda-input" type="text" placeholder="Buscar por nome ou sigla"
          (keyup)="onDigitar($event)" (keydown.enter)="buscar()" [value]="filtroDigitado" />
          <ul *ngIf="sugestoes.length" class="sugestoes">
            <li *ngFor="let sugestao of sugestoes" (click)="selecionarSugestao(sugestao)">
              {{ sugestao.nome }}
            </li>
          </ul>
      </div>
      <div class="col-auto d-flex">
        <div class="pe-2"><button type="button" class="btn btn-outline-primary"(click)="buscar()">Buscar</button></div>
        <div><button type="button" class="btn btn-outline-success" (click)="criarEditar()">Adicionar local</button></div>
      </div>
    </div>
    <div>
      <table class="table table-success table-striped">
        <thead>
          <tr>
            <th class="w-3" scope="col"></th>
            <th class="w-3" scope="col"></th>
            <th scope="col">Nome</th>
            <th scope="col">sigla</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let colaborador of listaLocaisFiltrada">
            <td class="w-3"><i class="bi bi-pencil-fill cursor-poiter" style="color: #c3c372;"
                (click)="criarEditar(colaborador)"></i></td>
            <td class="w-3"><i class="bi bi-trash-fill cursor-poiter" style="color: #bd5454;"
                (click)="excluir(colaborador)"></i></td>
            <td>{{colaborador.nome}}</td>
            <td>{{colaborador.sigla}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
