@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'ngx-toastr/toastr';


.w-3 {
  width: 3% !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 5px !important;
}

.borda-input {
  border-color: #B7B2B2;
}

.cursor-poiter {
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}