<div class="row no-gutters m-2">
    <div class="col-12 d-flex justify-content-end">
        <i class="bi bi-x-lg cursor-poiter" (click)="cancelar()"></i>
    </div>
    <div class="col-12 mb-3">
        <label class="form-label">Nome</label>
        <input type="text" (blur)="tocarCampo('nome')" [(ngModel)]="colaborador.nome" class="form-control borda-input">
        <small *ngIf="deveMostrarErro('nome')" class="text-danger">Nome inválido</small>
    </div>

    <div class="col-6">
        <label class="form-label">Email</label>
        <input type="email" (blur)="tocarCampo('email')" [(ngModel)]="colaborador.email"
            class="form-control borda-input">
        <small *ngIf="deveMostrarErro('email')" class="text-danger">Email inválido</small>
    </div>
    <div class="col-6">
        <label class="form-label">Telefone</label>
        <input type="text" (blur)="tocarCampo('telefone')" [(ngModel)]="colaborador.telefone" (input)="formatarTelefone()"
            (keypress)="permitirSomenteNumeros($event)" class="form-control borda-input" inputmode="numeric"
            maxlength="15">
        <small *ngIf="deveMostrarErro('telefone')" class="text-danger">Telefone inválido</small>
    </div>

    <div class="d-flex justify-content-end pt-4">
        <div class="pe-2">
            <button type="button" class="btn btn-success pe-2" (click)="salvar()">Salvar</button>
        </div>
        <div>
            <button type="button" class="btn btn-outline-primary" (click)="cancelar()">Cancelar</button>
        </div>
    </div>
</div>